In [1]:
import pandas as pd
df = pd.read_csv("C:\\Users\\abhay\\datascience\\file\\home_price.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [3]:
import math
value = math.floor(df['bedrooms'].median())
value

3

In [4]:
df.bedrooms = df.bedrooms.fillna(value)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [5]:
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [6]:
reg.predict([[3000,3,0]])

array([717400.])

In [7]:
import pickle
with open('model_pikle','wb') as f:
    pickle.dump(reg,f)

In [12]:
with open('model_pikle','rb') as f:
    model = pickle.load(f)

In [13]:
model.predict([[3000,3,0]])

array([717400.])

In [31]:
some_data = [[2000,3,4],[3000,4,6],[4000,5,10],[1000,2,0],[1000,2,1]]
d = pd.DataFrame(some_data,columns=['area','bedroom','age'])
d

   area  bedroom  age
0  2000        3    4
1  3000        4    6
2  4000        5   10
3  1000        2    0
4  1000        2    1

In [33]:
px = model.predict(d)
px

array([552850., 650425., 734350., 468925., 462100.])

In [34]:
d['prices'] = px
d.to_csv("home_price_pridction.csv",index=False)
d

   area  bedroom  age    prices
0  2000        3    4  552850.0
1  3000        4    6  650425.0
2  4000        5   10  734350.0
3  1000        2    0  468925.0
4  1000        2    1  462100.0